---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md');
    const uniqueTags: string[]|any = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

    return uniqueTags.map((tag: String) => {
        const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag))
        return {
            params: { tag },
            props: { posts: filteredPosts }
        }
    })
}

const { tag } = Astro.params;
const { posts }: {posts: any} = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p class="my-5 font-semibold text-xl text-[--primary-color]">Artículos sobre {tag}</p>
  <ul>
    {posts.map((post:any) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate}
    imageUrl={post.frontmatter.image.url} imageAlt={post.frontmatter.image.alt}/>)}
  </ul>
</BaseLayout>