---
import BaseLayout from "./BaseLayout.astro"
import Head from "../components/Head.astro";
const { frontmatter } = Astro.props;
---
<Head title={frontmatter.title}></Head>
<body>
    <BaseLayout pageTitle={frontmatter.title}>
        <div class="mb-10 flex flex-row-reverse">
            <aside>
                <h2 class="mb-2 font-semibold text-4xl text-[--terciary-color]">{frontmatter.title}</h2>
                <p class="text-[--primary-color]">Publicado el: {new Date(frontmatter.pubDate).toLocaleString("es-MX", {year: "numeric", month: "long", day: "numeric"})}</p>
                <p class="text-[--primary-color]"><em>{frontmatter.description}</em></p>
                <p class="text-[--primary-color]">{frontmatter.author}</p>
            </aside>
            <aside class="place-self-center mr-10 h-1/4 w-1/4 object-cover">
                <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
            </aside>
        </div>
        <div class="flex flex-wrap gap-3 my-5">{frontmatter.tags.map((tag: String) => 
            <a href={`/tags/${tag}`} class="my-1 border-2 rounded-full px-5 py-2 inline-block border-[--primary-color] hover:border-[--terciary-color] 
    hover:text-[--terciary-color] font-semibold w-fit focus:bg-transparent">{tag}</a>)}
        </div>
        <div class="post mt-10 text-[--primary-color]"><slot/></div>
    </BaseLayout>
</body>